@model IEnumerable<Category>

@{
    ViewBag.PageTitle = "Каталог";
}

<h3>Категории товаров</h3>
<hr />

<div class="container-fluid">
    <div class="row row-cols-2 g-3">
        @foreach (Category category in Model)
        {
            <div class="col">
                <a class="link-underline link-underline-opacity-0" asp-controller="Category" asp-action="ProductsByCategory" asp-route-id="@category.Id">
                    <div class="border rounded">
                        <img class="border rounded m-2" src="@category.Image" style="width: 64px; height: 64px;" />
                        <span class="text-dark">@category.Name</span>
                    </div>
                </a>
            </div>
        }
    </div>
</div>